html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(red, green, blue);
    margin: auto;
}

.general-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.advise-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 25%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#e664bf, #7177bb);
    border-radius: 30px;
    border-style: inset;
    border-collapse: collapse;
    box-shadow: -24px 20px 5px 0px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: -24px 20px 5px 0px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -24px 20px 5px 0px rgba(0, 0, 0, 0.67);
}

.text-container {
    display: flex;
    width: 80%;
    height: 40%;
    justify-content: center;
    align-items: center;
}

.button-space {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 20px;

}
button {
    padding: 3px;
    background-color: white;
    border-radius: 20px;
    color: #008CBA;
    font-weight: bolder;
    width: 120px;
    height: 50px;
    font-size: 15px;
    margin-right: 10px;
    border: 2px solid #008CBA
}
img {
    width: 100px;
    height: 50px;
}

a {
    width: 60px;
    height: 45px;
}